@model IEnumerable<Movie>

@*<div class="row">
    @foreach (var movie in Model)
    {
        var images = await MediaService.GetMediaFilesByMovieId(movie.Id);
        var defaultImage = images?.FirstOrDefault();

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                @if (defaultImage != null)
                {
                    <img class="card-img-top" style="height: 18rem" src="data:@defaultImage?.ContentType;base64, @Convert.ToBase64String(defaultImage?.Data)" alt="Card image cap">
                }
                <div class="card-body">
                    <h5 class="card-title">@movie.Name</h5>
                    <p class="card-text">@movie.Description.Truncate(100)</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }
</div>*@

<div class="row p-3">
    <div class="owl-carousel owl-theme" id="RecommendedMoviesCarousel">
        @foreach (var movie in Model)
        {
            var images = await MediaService.GetMediaFilesByMovieId(movie.Id);
            var defaultImage = images?.FirstOrDefault();
            var slug = await SlugService.GetSlugForEntity(movie);

            <div class="card">
                @if (defaultImage != null)
                {
                    <img class="card-img-top" style="height: 18rem" src="data:@defaultImage?.ContentType;base64, @Convert.ToBase64String(defaultImage?.Data)" alt="Card image cap">
                }
                <div class="card-body">
                    <h5 class="card-title">@movie.Name</h5>
                    <p class="card-text">@movie.Description.Truncate(100)</p>
                    <a asp-action="Movie" asp-route-id="@slug.Name" class="btn btn-primary">View</a>
                </div>
            </div>
        }
    </div>
</div>
