@model AwardRecipient

<div class="form-group">
    <label asp-for="AwardId">Award</label>
    <select class="form-control os-dropdown" asp-for="AwardId">
        <option value=""></option>
        @foreach (var item in await AwardService.GetAllAwards())
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>

<div class="form-group">
    <label asp-for="AwardCategoryId">Award Category</label>
    <select class="form-control os-dropdown" asp-for="AwardCategoryId">
        <option value=""></option>
        @foreach (var item in await AwardService.GetAllAwardCategories())
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>

<div class="form-group">
    <label asp-for="Year" class="control-label"></label>
    <input asp-for="Year" class="form-control" />
    <span asp-validation-for="Year" class="text-danger"></span>
</div>

<div class="form-group">
    <input class="form-check" type="checkbox" asp-for="Win" />
    <label class="form-check-label" asp-for="Win ">Win?</label>
</div>

<div class="form-group">
    <label asp-for="CastCrewMemberId">Cast/Crew Member</label>
    <select class="form-control os-dropdown" asp-for="CastCrewMemberId">
        <option value=""></option>
        @foreach (var item in await JobService.GetAllCastCrewMembers())
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>


<div class="form-group">
    <label asp-for="EpisodeId">Episode</label>
    <select class="form-control os-dropdown" asp-for="EpisodeId">
        <option value=""></option>
        @foreach (var item in await TVService.GetAllEpisodes())
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>

<div class="form-group">
    <label asp-for="TVShowId">TV Show</label>
    <select class="form-control os-dropdown" asp-for="TVShowId">
        <option value=""></option>
        @foreach (var item in await TVService.GetAllTVShows())
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>

<div class="form-group">
    <label asp-for="MovieId">Movie</label>
    <select class="form-control os-dropdown" asp-for="MovieId">
        <option value=""></option>
        @foreach (var item in await MovieService.GetAllMovies())
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>