@model ProductionRole

<div class="form-group">
    <label asp-for="CastCrewMemberId">Cast/Crew Member</label>
    <select class="form-control" asp-for="CastCrewMemberId" id="CastCrewMember">
        <option value=""></option>
        @foreach (var item in await MyMDBService.GetAllCastCrewMembers())
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>

<div class="form-group">
    <label asp-for="JobRoleId">Job Role</label>
    <select class="form-control" asp-for="JobRoleId" id="JobRole">
        <option value=""></option>
        @foreach (var item in await MyMDBService.GetAllJobRoles())
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>

<div class="form-group">
    <label asp-for="CharacterId">Character</label>
    <select class="form-control" asp-for="CharacterId" id="Character">
        <option value=""></option>
        @foreach (var item in await MyMDBService.GetAllCharacters())
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>

<div class="form-group">
    <label asp-for="MovieId">Movie</label>
    <select class="form-control" asp-for="MovieId" id="Movie">
        <option value=""></option>
        @foreach (var item in await MovieService.GetAllMovies())
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>

<div class="form-group">
    <label asp-for="EpisodeId">Episode</label>
    <select class="form-control" asp-for="EpisodeId" id="Episode">
        <option value=""></option>
        @foreach (var item in await TVService.GetAllEpisodes())
        {
            var details = $"({@item.TVShow.Name} - S{@item.SeriesNumber}E{@item.EpisodeNumber})";
            <option value="@item.Id">@item.Name @details</option>
        }
    </select>
</div>

<div class="form-group">
    <input class="form-check" type="checkbox" asp-for="CreditOnly" />
    <label class="form-check-label" asp-for="CreditOnly ">Credit Only?</label>
</div>

