@model Quote

<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>


<div class="form-group">
    <label asp-for="MovieId">Movie</label>
    <select class="form-control os-dropdown" asp-for="MovieId">
        <option value=""></option>
        @foreach (var item in await MovieService.GetAllMovies())
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>

<div class="form-group">
    <label asp-for="EpisodeId">Episode</label>
    <select class="form-control os-dropdown" asp-for="EpisodeId">
        <option value=""></option>
        @foreach (var item in await TVService.GetAllEpisodes())
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>

<div class="form-group">
    <label asp-for="CharacterId">Character</label>
    <select class="form-control os-dropdown" asp-for="CharacterId">
        <option value=""></option>
        @foreach (var item in await MyMDBService.GetAllCharacters())
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>

