@model IEnumerable<MyMDB.Models.MediaFile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="mymdb-datatable">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Type</th>
            <th>Linked Elements</th>
            <th>Created</th>
            <th>Edited</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.ContentType
            </td>
            <td>
                | 
                    @if (item.MovieId != null)
                    {
                        var movie = await MyMDBService.GetMovieById(item.MovieId.Value);
                        <text>@movie.Name |</text>
                    }
                    @if (item.CastCrewMemberId != null)
                    {
                        var member = await MyMDBService.GetCastCrewMemberById(item.CastCrewMemberId.Value);
                        <text>@member.Name |</text>
                    }
                    @if (item.TVShowId != null)
                    {
                        var show = await MyMDBService.GetTVShowById(item.TVShowId.Value);
                        <text>@show.Name |</text>
                    }
                    @if (item.EpisodeId != null)
                    {
                        var episode = await MyMDBService.GetEpisodeById(item.EpisodeId.Value);
                        <text>@episode.Name |</text>
                    }
                    @if (item.AwardId != null)
                    {
                        var award = await MyMDBService.GetAwardById(item.AwardId.Value);
                        <text>@award.Name |</text>
                    }
                    @if (item.GenreId != null)
                    {
                        var genre = await MyMDBService.GetGenreById(item.GenreId.Value);
                        <text>@genre.Name |</text>
                    }
                    @if (item.MovieSeriesId != null)
                    {
                        var series = await MyMDBService.GetMovieSeriesById(item.MovieSeriesId.Value);
                        <text>@series.Name |</text>
                    }
                    @if (item.MovieStudioId != null)
                    {
                        var studio = await MyMDBService.GetMovieStudioById(item.MovieStudioId.Value);
                        <text>@studio.Name |</text>
                    }
            </td>
            <td>
                @item.Created
            </td>
            <td>
                @item.Edited
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
