@model IEnumerable<MyMDB.Models.Fact>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="datatable">
    <thead>
        <tr>
            <th></th>
            <th>Fact</th>
            <th>Linked To</th>
            <th>Type</th>
            <th>Created</th>
            <th>Edited</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Id
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @(item.MovieId != null ? $"{@item?.Movie?.Name}" : "")
                    @(item.CastCrewMemberId != null ? $"{@item?.CastCrewMember?.Name}" : "")
                    @(item.TVShowId != null ? $"{@item?.TVShow?.Name}" : "")
                    @(item.EpisodeId != null ? $"{@item?.Episode?.Name}" : "")
                </td>
                <td>
                    @item?.FactType?.Name
                </td>
                <td>
                    @item.Created.ToString("dd MMM yyyy")
                </td>
                <td>
                    @item.Edited?.ToString("dd MMM yyyy")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>