@model MyMDB.Models.TVShow

@{
    ViewData["Title"] = "Details";
    var prodRoles = await JobService.GetProductionRolesByTVShowId(Model.Id);
    var groupedProdRoles = prodRoles.GroupBy(e => e.JobRoleId);
}

<h1>Details</h1>

<div>
    <h4>TVShow</h4>
    <hr />
    @Html.EditorForModel()
    <hr />
   @if (Model.AwardRecipients.Any())
    {
        <h4>Awards</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Award</th>
                    <th scope="col">Category</th>
                    <th scope="col">Cast/Crew</th>
                    <th scope="col">Year</th>
                    <th scope="col">Win</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AwardRecipients)
                {
                    <tr>
                        <td>@item.Award.Name</td>
                        <td>@item.AwardCategory.Name</td>
                        @if(item.CastCrewMemberId != null)
                        {
                            <td>@item.CastCrewMember.Name</td>
                        }
                        <td>@item.Year</td>
                        <td>@(item.Win ? "Win" : "Nominated")</td>
                    </tr>
                }
            </tbody>
        </table>
    }


    @if (prodRoles.Any())
    {
        <h4>Production Roles</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Role Type</th>
                    <th scope="col">Episodes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in groupedProdRoles)
                {
                    foreach (var role in item.Where(e=>e.JobRoleId == item.Key))
                    {
                        var prodRole = await JobService.GetProductionRoleById(role.Id);
                        var episodeCount = await TVService.GetEpisodeCountByProductionRoleId(role.Id);
                        <tr>
                            <td>@prodRole.CastCrewMember.Name</td>
                            <td>@prodRole?.Character?.Name</td>
                            <td>@prodRole.JobRole.Name</td>
                            <td>@episodeCount</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }

    <ul>
        @foreach (var item in Model.Episodes)
       {
           <li>
               @($"S{(item.SeriesNumber < 10 ? "0" : "")}{item.SeriesNumber}E{(item.EpisodeNumber < 10 ? "0" : "")}{item.EpisodeNumber} - {item.Name}")
           </li>
       }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
