@model MyMDB.Models.Movie

@{
    ViewData["Title"] = "Details";
    var series = await MovieService.GetMovieSeriesByMovieId(Model.Id);
    var genres = await MovieService.GetMovieGenres(Model.Id);
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <div class="row">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mx-1" data-toggle="modal" data-target="#Series">
            Add To Movie Series
        </button>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mx-1" data-toggle="modal" data-target="#Genre">
            Add Movie Genre
        </button>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mx-1" data-toggle="modal" data-target="#Media">
            Add Media File
        </button>

        <!-- Series Modal -->
        <div class="modal fade" id="Series" tabindex="-1" role="dialog" aria-labelledby="SeriesLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="SeriesLabel">Add To Series</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-action="AddMovieToSeries">
                            <input type="hidden" name="movieId" type="number" value="@Model.Id" />
                            <div class="form-group">
                                <label name="movieSeriesId">Movie Series</label>
                                <select class="form-control" type="number" name="seriesId" id="seriesId">
                                    <option value=""></option>
                                    @foreach (var item in await MovieService.GetAllMovieSeries())
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Genre Modal -->
        <div class="modal fade" id="Genre" tabindex="-1" role="dialog" aria-labelledby="GenreLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="GenreLabel">Add Genre</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-action="AddGenreToMovie">
                            <input type="hidden" name="movieId" value="@Model.Id" />
                            <div class="form-group">
                                <label name="genreId">Genre</label>
                                <select class="form-control" name="genreId" id="genreId">
                                    <option value=""></option>
                                    @foreach (var item in await MyMDBService.GetAllGenres())
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Media File Modal -->
        <div class="modal fade" id="Media" tabindex="-1" role="dialog" aria-labelledby="MediaLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="MediaLabel">Add Media File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" enctype="multipart/form-data" asp-action="AddMediaFiles">
                            <div class="form-group">
                                <input type="hidden" id="movieId" name="movieId" value="@Model.Id" />
                                <label for="file">Upload Image</label>
                                <div class="col-sm-8 col-md-6 mb-3">
                                    <input type="file"
                                           id="files"
                                           name="files"
                                           AllowMultiple="true"
                                           multiple="multiple"
                                           accept="image/png, image/jpeg, image/gif"
                                           class="form-control">
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    @if (series != null)
    {
        <h5>Series</h5>
        <p>@series.Name | <a class="text-danger" asp-action="DeleteMovieFromSeries" asp-controller="Movies" asp-area="Admin"
                            asp-route-seriesId="@series.Id" asp-route-movieId="@Model.Id">Delete</a></p>
    }
    @if (genres.Any())
    {
        <h5>Genres</h5>
        <ul>
        @foreach (var item in genres)
        {
            <li>
                @item.Name | <a class="text-danger" asp-action="DeleteGenreFromMovie" asp-controller="Movies" asp-area="Admin"
                            asp-route-genreId="@item.Id" asp-route-movieId="@Model.Id">Delete</a>
            </li>
        }
    </ul>
    }
    
    @Html.EditorForModel()
    <hr />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
