@model IEnumerable<MyMDB.Models.Character>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="mymdb-datatable">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Actor</th>
            <th>TV Show/Movie</th>
            <th>Created</th>
            <th>Edited</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item?.CastCrewMember?.Name
                </td>
                <td>
                    @if (item.EpisodeId != null)
                    {
                        var show = await MyMDBService.GetEpisodeById(item.EpisodeId.Value);
                        <text>@show?.TVShow?.Name</text>
                    }
                    @if (item.MovieId != null)
                    {
                        var movie = await MyMDBService.GetMovieById(item.MovieId.Value);
                        <text>@movie.Name</text>
                    }
                </td>
                <td>
                    @item.Created
                </td>
                <td>
                    @item.Edited
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
