@model IEnumerable<MyMDB.Models.ProductionRole>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="mymdb-datatable">
    <thead>
        <tr>
            <th></th>
            <th>Job Role</th>
            <th>Cast/Crew Member</th>
            <th>Linked To</th>
            <th>Created</th>
            <th>Edited</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Id
                </td>
                <td>
                    @item?.JobRole?.Name
                </td>
                <td>
                    @item?.CastCrewMember?.Name
                </td>
                <td>
                    | 
                    @(item.MovieId != null ? $"{@item?.Movie?.Name} |" : "")
                    @(item.EpisodeId != null ? $"{@item?.Episode?.Name} |" : "")
                    @(item.CharacterId != null ? $"{@item?.Character?.Name} |" : "")
                </td>
                <td>
                    @item.Created.ToString("dd MMM yyyy")
                </td>
                <td>
                    @item.Edited?.ToString("dd MMM yyyy")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>